In [28]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# For mapping
# Import dependencies
import gmaps
import requests

#Import the API key
from config import g_key
%matplotlib inline

In [2]:
pip install gmaps

Requirement already satisfied: gmaps in /Applications/anaconda3/lib/python3.7/site-packages (0.9.0)
Requirement already satisfied: geojson>=2.0.0 in /Applications/anaconda3/lib/python3.7/site-packages (from gmaps) (2.5.0)
Requirement already satisfied: traitlets>=4.3.0 in /Applications/anaconda3/lib/python3.7/site-packages (from gmaps) (4.3.3)
Requirement already satisfied: ipython>=5.3.0 in /Applications/anaconda3/lib/python3.7/site-packages (from gmaps) (7.12.0)
Requirement already satisfied: six in /Applications/anaconda3/lib/python3.7/site-packages (from gmaps) (1.14.0)
Requirement already satisfied: ipywidgets>=7.0.0 in /Applications/anaconda3/lib/python3.7/site-packages (from gmaps) (7.5.1)
Requirement already satisfied: decorator in /Applications/anaconda3/lib/python3.7/site-packages (from traitlets>=4.3.0->gmaps) (4.4.1)
Requirement already satisfied: ipython-genutils in /Applications/anaconda3/lib/python3.7/site-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /Applications/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (4.8.0)
Requirement already satisfied: jedi>=0.10 in /Applications/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (0.14.1)
Requirement already satisfied: pickleshare in /Applications/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Applications/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (3.0.3)
Requirement already satisfied: backcall in /Applications/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (0.1.0)
Requirement already satisfied: pygments in /Applications/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (2.5.2)
Requirement already satisfied: appnope; sys_platform == "darwin" in /Applications/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (0.1.0)
Requirement already satisfied: setuptools>=18.5 in /Applications/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (46.0.0.post20200309)
Requirement already satisfied: ipykernel>=4.5.1 in /Applications/anaconda3/lib/python3.7/site-packages (from ipywidgets>=7.0.0->gmaps) (5.1.4)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /Applications/anaconda3/lib/python3.7/site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: nbformat>=4.2.0 in /Applications/anaconda3/lib/python3.7/site-packages (from ipywidgets>=7.0.0->gmaps) (5.0.4)
Requirement already satisfied: ptyprocess>=0.5 in /Applications/anaconda3/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=5.3.0->gmaps) (0.6.0)
Requirement already satisfied: parso>=0.5.0 in /Applications/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.5.2)
Requirement already satisfied: wcwidth in /Applications/anaconda3/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.1.8)
Requirement already satisfied: tornado>=4.2 in /Applications/anaconda3/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.0.3)
Requirement already satisfied: jupyter-client in /Applications/anaconda3/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (5.3.4)
Requirement already satisfied: notebook>=4.4.1 in /Applications/anaconda3/lib/python3.7/site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.3)
Requirement already satisfied: jupyter-core in /Applications/anaconda3/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.6.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Applications/anaconda3/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: pyzmq>=13 in /Applications/anaconda3/lib/python3.7/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (18.1.1)
Requirement already satisfied: python-dateutil>=2.1 in /Applications/anaconda3/lib/python3.7/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.1)
Requirement already satisfied: prometheus-client in /Applications/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.7.1)
Requirement already satisfied: Send2Trash in /Applications/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: terminado>=0.8.1 in /Applications/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.3)
Requirement already satisfied: jinja2 in /Applications/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.1)
Requirement already satisfied: nbconvert in /Applications/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (5.6.1)
Requirement already satisfied: pyrsistent>=0.14.0 in /Applications/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.15.7)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /Applications/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: attrs>=17.4.0 in /Applications/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (19.3.0)
Requirement already satisfied: MarkupSafe>=0.23 in /Applications/anaconda3/lib/python3.7/site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: bleach in /Applications/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.1.0)
Requirement already satisfied: testpath in /Applications/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /Applications/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: entrypoints>=0.2.2 in /Applications/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: mistune<2,>=0.8.1 in /Applications/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: defusedxml in /Applications/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: zipp>=0.5 in /Applications/anaconda3/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (2.2.0)
Requirement already satisfied: webencodings in /Applications/anaconda3/lib/python3.7/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
Release_data_df = pd.read_csv("Riverview_Released.csv")
Release_data_df.head()

,Item,Tag_ID,Date,Time,Duration,Tag_Type,Loop,Sequential_Scans,Prior_Empty_Scans,System,...,Region.Init,Shoreline.Init,Source.Tank,Caging,TAG.TYPE,Conditioning,Date.Time.Rel,FL,Common.Name,Time.at.Large
0,1222,0000_0000000178695660,12/7/18,36:50.7,00:00.0,HR,Riverview - A4,1,75,PC,...,Misc,Misc,B-2,uncaged,23mm HDX,Control,12/7/18 1:30,222,Common Snook,0.754753
1,1223,0000_0000000178695660,12/8/18,48:13.8,00:02.0,HR,Riverview - A4,6,286,PC,...,Misc,Misc,B-2,uncaged,23mm HDX,Control,12/7/18 1:30,222,Common Snook,1.012659
2,1224,0000_0000000178695660,12/8/18,48:22.2,00:01.2,HR,Riverview - A4,4,15,PC,...,Misc,Misc,B-2,uncaged,23mm HDX,Control,12/7/18 1:30,222,Common Snook,1.012757
3,1225,0000_0000000178695660,12/7/18,38:13.5,00:00.8,HR,Riverview - A2,3,333,PC,...,Misc,Misc,B-2,uncaged,23mm HDX,Control,12/7/18 1:30,222,Common Snook,0.755711
4,1226,0000_0000000178695660,12/8/18,31:31.1,00:01.6,HR,Riverview - A4,5,252,PC,...,Misc,Misc,B-2,uncaged,23mm HDX,Control,12/7/18 1:30,222,Common Snook,1.042721

In [4]:
Release_data_df.reset_index(drop=True)

,Item,Tag_ID,Date,Time,Duration,Tag_Type,Loop,Sequential_Scans,Prior_Empty_Scans,System,...,Region.Init,Shoreline.Init,Source.Tank,Caging,TAG.TYPE,Conditioning,Date.Time.Rel,FL,Common.Name,Time.at.Large
0,1222,0000_0000000178695660,12/7/18,36:50.7,00:00.0,HR,Riverview - A4,1,75,PC,...,Misc,Misc,B-2,uncaged,23mm HDX,Control,12/7/18 1:30,222,Common Snook,0.754753
1,1223,0000_0000000178695660,12/8/18,48:13.8,00:02.0,HR,Riverview - A4,6,286,PC,...,Misc,Misc,B-2,uncaged,23mm HDX,Control,12/7/18 1:30,222,Common Snook,1.012659
2,1224,0000_0000000178695660,12/8/18,48:22.2,00:01.2,HR,Riverview - A4,4,15,PC,...,Misc,Misc,B-2,uncaged,23mm HDX,Control,12/7/18 1:30,222,Common Snook,1.012757
3,1225,0000_0000000178695660,12/7/18,38:13.5,00:00.8,HR,Riverview - A2,3,333,PC,...,Misc,Misc,B-2,uncaged,23mm HDX,Control,12/7/18 1:30,222,Common Snook,0.755711
4,1226,0000_0000000178695660,12/8/18,31:31.1,00:01.6,HR,Riverview - A4,5,252,PC,...,Misc,Misc,B-2,uncaged,23mm HDX,Control,12/7/18 1:30,222,Common Snook,1.042721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14706,1009135,982_000404695722,12/9/18,37:14.4,00:00.4,HA,Riverview - A2,2,24,PC,...,Misc,Misc,A-4,uncaged,23mm HDX,Mangrove,12/7/18 1:30,190,Common Snook,2.796695
14707,1009136,982_000404695722,12/8/18,11:06.9,00:02.8,HA,Riverview - A3,8,0,PC,...,Misc,Misc,A-4,uncaged,23mm HDX,Mangrove,12/7/18 1:30,190,Common Snook,1.195219
14708,1009137,982_000404695722,12/7/18,05:08.6,00:00.4,HA,Riverview - A4,2,3,PC,...,Misc,Misc,A-4,uncaged,23mm HDX,Mangrove,12/7/18 1:30,190,Common Snook,0.482739
14709,1009138,982_000404695722,12/8/18,35:58.4,00:17.7,HA,Riverview - A3,45,229,PC,...,Misc,Misc,A-4,uncaged,23mm HDX,Mangrove,12/7/18 1:30,190,Common Snook,1.212481
14710,1009139,982_000404695722,12/9/18,01:39.7,00:00.0,HA,Riverview - A4,1,10,PC,...,Misc,Misc,A-4,uncaged,23mm HDX,Mangrove,12/7/18 1:30,190,Common Snook,2.771987

In [5]:
Release_data_df.dtypes

Item                   int64
Tag_ID                object
Date                  object
Time                  object
Duration              object
Tag_Type              object
Loop                  object
Sequential_Scans       int64
Prior_Empty_Scans     object
System                object
ReadDate              object
Antenna               object
Region                object
Shoreline             object
DateR                 object
Date.Time.Start       object
Time.Duration          int64
Date.Time.End         object
Timeframe             object
TL..mm.              float64
FL..mm.              float64
Sex                  float64
Sequential_Scan      float64
Release.ID            object
Release.System        object
Release.Site          object
Region.Init           object
Shoreline.Init        object
Source.Tank           object
Caging                object
TAG.TYPE              object
Conditioning          object
Date.Time.Rel         object
FL                     int64
Common.Name           object
Time.at.Large        float64
dtype: object

In [6]:
Release_data_df.Item.astype(int)

0           1222
1           1223
2           1224
3           1225
4           1226
          ...
14706    1009135
14707    1009136
14708    1009137
14709    1009138
14710    1009139
Name: Item, Length: 14711, dtype: int64

In [7]:
Release_data_df.describe()

,Item,Sequential_Scans,Time.Duration,TL..mm.,FL..mm.,Sex,Sequential_Scan,FL,Time.at.Large
count,1.471100e+04,14711.000000,14711.000000,0.0,0.0,0.0,0.0,14711.000000,14711.000000
mean,7.237312e+05,11.432330,3.729318,NaN,NaN,NaN,NaN,202.246618,44.227526
std,4.097942e+05,58.382985,23.319287,NaN,NaN,NaN,NaN,31.780881,118.294686
min,1.222000e+03,1.000000,0.000000,NaN,NaN,NaN,NaN,156.000000,0.034734
25%,4.676685e+05,2.000000,0.000000,NaN,NaN,NaN,NaN,181.000000,0.818985
50%,9.697270e+05,4.000000,1.000000,NaN,NaN,NaN,NaN,196.000000,2.936520
75%,9.996685e+05,9.000000,3.000000,NaN,NaN,NaN,NaN,221.000000,13.121981
max,1.009139e+06,4462.000000,1799.000000,NaN,NaN,NaN,NaN,287.000000,6950.100417

In [8]:
adding_loc_df = pd.DataFrame(Release_data_df, columns=["Antenna"])
adding_loc_df.head()

     Antenna
0  Riverview
1  Riverview
2  Riverview
3  Riverview
4  Riverview

In [9]:
Release_data_df["Antenna"].unique()

array(['Riverview', 'Tucci1', 'Byron', 'Tucci2', 'Duncan', 'Chapman',
       'Brown', 'Tanglewood'], dtype=object)

In [10]:
Detect_data_df = pd.read_csv("Riverview_Detections.csv")
Detect_data_df.head()

,Unnamed: 0,Tag_ID,Date,Time,Duration,Tag_Type,Loop,Sequential_Scans,Prior_Empty_Scans,System,...,Region.Init,Shoreline.Init,Source.Tank,Caging,TAG.TYPE,Conditioning,Date.Time.Rel,FL,Common.Name,Time.at.Large
0,1222,0000_0000000178695660,12/7/2018,36:50.7,00:00.0,HR,Riverview - A4,1,75,PC,...,Misc,Misc,B-2,uncaged,23mm HDX,Control,12/7/2018 1:30,222.0,Common Snook,0.754753
1,1223,0000_0000000178695660,12/8/2018,48:13.8,00:02.0,HR,Riverview - A4,6,286,PC,...,Misc,Misc,B-2,uncaged,23mm HDX,Control,12/7/2018 1:30,222.0,Common Snook,1.012659
2,1224,0000_0000000178695660,12/8/2018,48:22.2,00:01.2,HR,Riverview - A4,4,15,PC,...,Misc,Misc,B-2,uncaged,23mm HDX,Control,12/7/2018 1:30,222.0,Common Snook,1.012757
3,1225,0000_0000000178695660,12/7/2018,38:13.5,00:00.8,HR,Riverview - A2,3,333,PC,...,Misc,Misc,B-2,uncaged,23mm HDX,Control,12/7/2018 1:30,222.0,Common Snook,0.755711
4,1226,0000_0000000178695660,12/8/2018,31:31.1,00:01.6,HR,Riverview - A4,5,252,PC,...,Misc,Misc,B-2,uncaged,23mm HDX,Control,12/7/2018 1:30,222.0,Common Snook,1.042721

In [11]:
Detect_data_df.describe()

,Unnamed: 0,Sequential_Scans,Time.Duration,TL..mm.,FL..mm.,Sex,Sequential_Scan,FL,Time.at.Large
count,3.297500e+04,32975.000000,32975.000000,0.0,0.0,0.0,0.0,32948.000000,32948.000000
mean,6.555786e+05,7.201365,2.165610,NaN,NaN,NaN,NaN,199.023552,91.298336
std,3.166700e+05,39.416736,15.879198,NaN,NaN,NaN,NaN,25.023366,150.732017
min,1.222000e+03,1.000000,0.000000,NaN,NaN,NaN,NaN,113.000000,0.034734
25%,4.338475e+05,1.000000,0.000000,NaN,NaN,NaN,NaN,181.000000,3.253973
50%,6.987570e+05,3.000000,0.000000,NaN,NaN,NaN,NaN,205.000000,64.531855
75%,9.683035e+05,7.000000,2.000000,NaN,NaN,NaN,NaN,212.000000,106.147982
max,1.027223e+06,4462.000000,1799.000000,NaN,NaN,NaN,NaN,287.000000,6950.100417

In [12]:
Antenna_data_df = pd.read_csv("Antenna_coordinates.csv")
Antenna_data_df.head()

       Creek        Antenna  Longitude   Latitude
0  Phillippi  SedimentTrapB -82.499477  27.326134
1  Phillippi     Tanglewood -82.508631  27.311757
2  Phillippi      Riverview -82.521402  27.283130
3  Phillippi      Sperandeo -82.510186  27.311775
4  Phillippi          Byron -82.510443  27.309247

In [13]:
Antenna_data_df.Antenna.unique()

array(['SedimentTrapB', 'Tanglewood', 'Riverview', 'Sperandeo', 'Byron',
       'Oskamp', 'Duncan', 'Tucci1', 'Tucci2', 'Brown', 'Chapman'],
      dtype=object)

In [14]:
# Configure gmaps to use your API key
gmaps.configure(api_key=g_key)

In [15]:
adding_loc_df["Latitude"] = "0"
adding_loc_df["Longitude"] = "0"

In [16]:
adding_loc_df.head()

     Antenna Latitude Longitude
0  Riverview        0         0
1  Riverview        0         0
2  Riverview        0         0
3  Riverview        0         0
4  Riverview        0         0

In [17]:
# function to select stem fields as a binary
def LATITUDE (row):
   if row['Antenna'] == "SedimentTrapB":
      return '27.326134'
   if row['Antenna'] == "Tanglewood":
      return '27.311757'
   if row['Antenna'] == "Riverview":
      return '27.28313'
   if row['Antenna'] == "Sperandeo":
      return '27.311775'
   if row['Antenna'] == "Byron":
      return '27.309247'
   if row['Antenna'] == "Oskamp":
      return '27.304939'
   if row['Antenna'] == "Duncan":
      return '27.302968'
   if row['Antenna'] == "Tucci1":
      return '27.276147'
   if row['Antenna'] == "Tucci2":
      return '27.276249'
   if row['Antenna'] == "Brown":
      return '27.27506'
   if row['Antenna'] == "Chapman":
      return '27.272518'
   return '0'

def LONGITUDE (row):
   if row['Antenna'] == "SedimentTrapB":
      return '-82.499477'
   if row['Antenna'] == "Tanglewood":
      return '-82.508631'
   if row['Antenna'] == "Riverview":
      return '-82.521402'
   if row['Antenna'] == "Sperandeo":
      return '-82.510186'
   if row['Antenna'] == "Byron":
      return '-82.510443'
   if row['Antenna'] == "Oskamp":
      return '-82.512281'
   if row['Antenna'] == "Duncan":
      return '-82.517611'
   if row['Antenna'] == "Tucci1":
      return '-82.529169'
   if row['Antenna'] == "Tucci2":
      return '-82.526347'
   if row['Antenna'] == "Brown":
      return '-82.526211'
   if row['Antenna'] == "Chapman":
      return '-82.529035'
   return '0'

In [18]:
#running the function on the original dataset
adding_loc_df['Latitude'] = adding_loc_df.apply(lambda row: LATITUDE(row), axis=1)
#running the function on the original dataset
adding_loc_df['Longitude'] = adding_loc_df.apply(lambda row: LONGITUDE(row), axis=1)

In [19]:
adding_loc_df = adding_loc_df.drop('Antenna', 1)

In [20]:
updated_release_df = Release_data_df.join(adding_loc_df)

In [21]:
updated_release_df.head()

,Item,Tag_ID,Date,Time,Duration,Tag_Type,Loop,Sequential_Scans,Prior_Empty_Scans,System,...,Source.Tank,Caging,TAG.TYPE,Conditioning,Date.Time.Rel,FL,Common.Name,Time.at.Large,Latitude,Longitude
0,1222,0000_0000000178695660,12/7/18,36:50.7,00:00.0,HR,Riverview - A4,1,75,PC,...,B-2,uncaged,23mm HDX,Control,12/7/18 1:30,222,Common Snook,0.754753,27.28313,-82.521402
1,1223,0000_0000000178695660,12/8/18,48:13.8,00:02.0,HR,Riverview - A4,6,286,PC,...,B-2,uncaged,23mm HDX,Control,12/7/18 1:30,222,Common Snook,1.012659,27.28313,-82.521402
2,1224,0000_0000000178695660,12/8/18,48:22.2,00:01.2,HR,Riverview - A4,4,15,PC,...,B-2,uncaged,23mm HDX,Control,12/7/18 1:30,222,Common Snook,1.012757,27.28313,-82.521402
3,1225,0000_0000000178695660,12/7/18,38:13.5,00:00.8,HR,Riverview - A2,3,333,PC,...,B-2,uncaged,23mm HDX,Control,12/7/18 1:30,222,Common Snook,0.755711,27.28313,-82.521402
4,1226,0000_0000000178695660,12/8/18,31:31.1,00:01.6,HR,Riverview - A4,5,252,PC,...,B-2,uncaged,23mm HDX,Control,12/7/18 1:30,222,Common Snook,1.042721,27.28313,-82.521402

In [22]:
updated_release_df.dtypes

Item                   int64
Tag_ID                object
Date                  object
Time                  object
Duration              object
Tag_Type              object
Loop                  object
Sequential_Scans       int64
Prior_Empty_Scans     object
System                object
ReadDate              object
Antenna               object
Region                object
Shoreline             object
DateR                 object
Date.Time.Start       object
Time.Duration          int64
Date.Time.End         object
Timeframe             object
TL..mm.              float64
FL..mm.              float64
Sex                  float64
Sequential_Scan      float64
Release.ID            object
Release.System        object
Release.Site          object
Region.Init           object
Shoreline.Init        object
Source.Tank           object
Caging                object
TAG.TYPE              object
Conditioning          object
Date.Time.Rel         object
FL                     int64
Common.Name           object
Time.at.Large        float64
Latitude              object
Longitude             object
dtype: object

In [23]:
updated_release_df.Latitude.astype(float)
updated_release_df.Longitude.astype(float)

0       -82.521402
1       -82.521402
2       -82.521402
3       -82.521402
4       -82.521402
           ...
14706   -82.521402
14707   -82.521402
14708   -82.521402
14709   -82.521402
14710   -82.521402
Name: Longitude, Length: 14711, dtype: float64

In [24]:
updated_release_df['Latitude'] = pd.to_numeric(updated_release_df['Latitude'],errors='coerce')
updated_release_df['Longitude'] = pd.to_numeric(updated_release_df['Longitude'],errors='coerce')

In [29]:
# LOCATION HEATMAP
# Assign the locations to an array of lat and long paires
locations = updated_release_df[["Latitude", "Longitude"]]
#Assign the weights variable to some values
time = updated_release_df["Time.at.Large"]
# Assign the figure variable to the smaps.figures() attribute
fig = gmaps.figure()
# Assign the heatmap_layer variable to the heatmap_layer attributes
heatmap_layer = gmaps.heatmap_layer(locations, weights=time)
# Add the heatmap layer
fig.add_layer(heatmap_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
fig

Figure(layout=FigureLayout(height='420px'))